<div class="container">
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addFiles">Upload GeoJson File</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeMarkerColor">Change Icon Color</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#useLasso">Use Lasso</button>
    </div>
  </div>
</div>
<agm-map
        [zoom]="1"
        (mapClick)="addMarker($event)"
        [fitBounds]="true"
>
  <agm-marker
          *ngFor="let marker of markers"
          [latitude]="marker.lat"
          [longitude]="marker.lng"
          [opacity]="marker.alpha"
          [iconUrl]="marker.icon"
          [agmFitBounds]="true"
          (markerClick)="selectMarker($event)"
  >

    <agm-info-window [disableAutoPan]="false">
      <div>
        <a class="btn btn-attention pull-right">{{marker.lat}}, {{marker.lng}}<i class="fa fa-angle-double-right"></i></a>
      </div>
    </agm-info-window>
  </agm-marker>


  <!--<agm-rectangle-->
  <!--[north]="max('lat')"-->
  <!--[east]="max('lng')"-->
  <!--[south]="min('lat')"-->
  <!--[west]="min('lng')"-->
  <!--&gt;-->
  <!--</agm-rectangle>-->

  <agm-polygon *ngIf="useLasoo" ngFor='let path of nestedPaths'  [strokeColor]="'#083478'" [strokeWeight]="4" [paths]="path">
  </agm-polygon>

</agm-map>
<div id="addFiles" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload GeoJson file</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="file" #file (change)="onFilesAdded($event)" />
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary clearDbFinal" (click)="jsonToMap($event)">Upload</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div id="changeMarkerColor" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change icon color</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select class='select-option' (change)='changeColor($event)'>
          <option class='option' *ngFor='let icon of icons' [value]="icon.url">{{icon.color}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button"  data-dismiss="modal" class="btn btn-primary" (click)="changeIcon($event)">Change</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
